@charset "utf-8";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .game__start {
    // Flex Layout
    .region__selection {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .game__flag {
    // Flexbox Layout
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .game__inputs {
    // Flexbox Layout
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
