// Set headers font
@mixin setHeadersFont() {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

// Set body font
@mixin setBodyFont() {
  font-family: "Montserrat", sans-serif;
}

// Set fluid font size
@mixin fluidType($ratio, $scale, $fontsize) {
  $min: $fontsize / $ratio;
  $size: $ratio * $scale * 1vw;
  $clamp-size: #{"min(max(#{$min}, #{$size}), #{$fontsize})"};
  font-size: $clamp-size;
}
