@charset "uft-8";

// Variables & Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@800&display=swap");

@import "./system";
@import "./mixins";
@import "./gamepage-layout";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-image: url("../images/backgroundImg.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(50, 55, 56, 0.82);

  .action__btn {
    // margin: 8px 4px 4px 0px;
    font-style: 16px;
    @include setHeadersFont();
    color: darken($color: $green, $amount: 40);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: $green;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      color: lighten($color: $green, $amount: 50);
      transform: translateY(-3px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }

  .game__start {
    padding: 48px 0px 24px 0px;
    text-align: center;

    .game__title {
      margin-bottom: 16px;
      color: $text-white;
      @include setHeadersFont();
    }

    h3 {
      width: 80%;
      color: $text-white;
      margin-bottom: 16px;
      @include setBodyFont();
    }

    h3 + p {
      width: 80%;
      margin-bottom: 16px;
      font-size: 16px;
      color: $text-white;
      @include setBodyFont();

      span {
        @include setHeadersFont();
        font-weight: bold;
        font-style: italic;
      }
    }

    .region__selection {
      width: 80%;

      p {
        width: 100%;
        font-size: 16px;
        color: $text-white;
        @include setHeadersFont();
      }

      input {
        width: 20%;
        min-width: 140px;
        padding: 8px;
        margin: 8px 4px 4px 0px;
        height: 40px;
        font-size: 16px;
        border: 1px solid rgba(7, 59, 76, 0.3);
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
        color: lighten($color: #000, $amount: 20);

        &:focus {
          outline: none;
          border: 1px solid rgba(7, 59, 76, 1);
        }
      }
    }
  }

  .game__flag {
    padding-bottom: 24px;
    margin-top: 32px;
    min-height: 50%;

    h1 {
      margin: 40px 0px;
      color: $text-white;
      @include setHeadersFont();
    }

    .country__flag {
      width: 80%;
      height: 50%;
      max-height: 300px;
      max-width: 500px;
    }
  }

  .game__inputs {
    margin-top: 48px;
    min-height: 500px;
    padding: 16px 0px 16px 0px;

    p {
      margin: 0px 8px;
      color: $text-white;
      @include setHeadersFont();
    }

    .input__field {
      width: 40%;
      min-width: 300px;
      margin: 32px 0px 32px 0px;
      color: $text-white;
      @include setBodyFont();
      transition: color 0.4s ease-in-out;

      .answer__correct {
        font-size: 12px;
        margin: 0px;
        @include setBodyFont();
      }

      span {
        color: $text-white;
        font-size: 9px;
        width: 60px;
      }

      select {
        width: 305px;
        height: 40px;
        border: 1px solid rgba(7, 59, 76, 0.2);

        &:focus {
          outline: none;
          border: 1px solid rgba(7, 59, 76, 1);
        }
      }

      .input__field--correct {
        border: 3px solid $green;
        background-color: $green;
      }

      .input__field--incorrect {
        border: 3px solid $red;
        background-color: $red;
      }

      div {
        width: 100%;
      }
    }

    .input__selection + div {
      width: 100%;
    }
  }

  footer {
    border-top: 2px solid $text-white;
    width: 100%;
    padding: 8px;
    height: 28vh;
    text-align: center;

    p {
      color: $text-white;
      @include setHeadersFont();
    }

    a {
      @include setBodyFont();
      width: 120px;
      height: 40px;
      color: $text-white;
      padding: 0 14px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    div {
      margin: 24px 0px;

      a {
        margin: 0px 16px;
        text-decoration: none;

        &:hover {
          color: $green;
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $green;
          transition: transform 0.2s ease-in-out;
        }

        &::before {
          top: 0;
          transform: translateX(-100%);
        }

        &::after {
          bottom: 0;
          transform: translateX(100%);
        }

        &:hover::after,
        &:hover::before {
          transform: translateX(0);
        }
      }
    }
  }
}
