@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@800&display=swap");
/* HSL */
/* GRADIENT */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 800px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 800px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.container .game__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game__start .region__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game__flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .game__inputs .input__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game__inputs .input__selection + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  .game__start {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-image: url("../images/backgroundImg.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(50, 55, 56, 0.82);
}

.container .action__btn {
  font-style: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
  color: #00100c;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #06d6a0;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .action__btn:focus {
  outline: none;
}

.container .action__btn:hover {
  color: #ddfef5;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.container .game__start {
  padding: 48px 0px 8px 0px;
  text-align: center;
}

.container .game__start .game__title {
  margin-bottom: 8px;
  color: #06d6a0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}

.container .game__start h3 {
  width: 80%;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
}

.container .game__start h3 + p {
  width: 80%;
  margin-bottom: 16px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
}

.container .game__start h3 + p span {
  color: #06d6a0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-style: italic;
}

.container .game__start .region__selection {
  width: 80%;
}

.container .game__start .region__selection p {
  width: 100%;
  font-size: 16px;
  margin-bottom: 8px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}

.container .game__start .region__selection select {
  width: 200px;
  height: 40px;
  margin-right: 16px;
  border: 1px solid rgba(7, 59, 76, 0.2);
}

.container .game__start .region__selection select:focus {
  outline: none;
  border: 1px solid #073b4c;
}

.container .game__flag {
  padding-bottom: 8px;
  min-height: 50%;
}

.container .game__flag h1 {
  margin: 40px 0px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}

.container .game__flag .country__flag {
  width: 80%;
  height: 50%;
  max-height: 300px;
  max-width: 500px;
}

.container .game__inputs {
  margin-top: 28px;
  min-height: 500px;
  padding: 16px 0px 16px 0px;
}

.container .game__inputs p {
  margin: 0px 8px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}

.container .game__inputs .input__field {
  width: 40%;
  min-width: 300px;
  margin: 32px 0px 32px 0px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.container .game__inputs .input__field .answer__correct {
  font-size: 12px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
}

.container .game__inputs .input__field span {
  color: #ffffff;
  font-size: 9px;
  width: 60px;
}

.container .game__inputs .input__field select {
  width: 305px;
  height: 40px;
  border: 1px solid rgba(7, 59, 76, 0.2);
}

.container .game__inputs .input__field select:focus {
  outline: none;
  border: 1px solid #073b4c;
}

.container .game__inputs .input__field .input__field--correct {
  border: 3px solid #06d6a0;
  background-color: #06d6a0;
}

.container .game__inputs .input__field .input__field--incorrect {
  border: 3px solid #ef476f;
  background-color: #ef476f;
}

.container .game__inputs .input__field div {
  width: 100%;
}

.container .game__inputs .input__selection + div {
  width: 100%;
}

.container footer {
  border-top: 2px solid #ffffff;
  width: 100%;
  padding: 8px;
  height: 28vh;
  text-align: center;
}

.container footer p {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}

.container footer a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
  width: 120px;
  height: 40px;
  color: #ffffff;
  padding: 0 14px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.container footer div {
  margin: 24px 0px;
}

.container footer div a {
  margin: 0px 16px;
  text-decoration: none;
}

.container footer div a:hover {
  color: #06d6a0;
}

.container footer div a::before, .container footer div a::after {
  position: absolute;
  content: "";
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #06d6a0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.container footer div a::before {
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container footer div a::after {
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container footer div a:hover::after, .container footer div a:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=game.css.map */